@{
  Layout = "_Layout";
}
<div class="container">
  <h1>Welcome to you Vendor Order Tracker!</h1>
  <p>Your personal tracker for all of your vendors, their products, and your hapiness :)</p>
  <button><a href="/vendors">View Your Vendors</a></button>
  <button><a href="/vendors/new">Add A New Vendor</a></button>
</div>